body
{
  background-color: #fff;
  color: #585858;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

ul
{
  padding:0;
  list-style-type: none;
}

#tagList li
{
  display: inline;
  margin-right:10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}

#graph-container {
  height: 400px;
}

.gray-bg {
  background: #EBEAE1;
}

#d3-graph-container {
  font-size: 10px;
}

#tags {
  margin-top: 20px;
  margin-bottom: 20px;
}

#about {
  margin-bottom: 50px;
}